Django>=4.2
reportlab>=3.6
djangorestframework
djangorestframework-simplejwt
django-cors-headers
whitenoise
gunicorn

pdfplumber
pdf2docx
pillow
pdfminer.six
openpyxl
python-pptx
pandas
# remove pdf2image and pytesseract if you won't install poppler/tesseract on the host
pdf2image
pytesseract
